@model FreelancerPaymentViewModel

@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Admin Dashboard | Atlancer </title>
    <link rel="stylesheet" href="~/css/admin.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar" style="background-color: #0A2558">
        <div class="logo-details d-flex align-items-center justify-content-center w-100">
            <img class="img-fluid p-3" width="180px" style="margin: 0 auto" src="~/images/logo-white-01.png" />
        </div>
        <ul class="nav-links">
            <li>
                <a href="#" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li class="log_out">
                <a href="#">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Dashboard</span>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <i class='bx bx-search'></i>
            </div>
            <div style="display: flex; align-items: center;">
                <div class="profile-details" style="margin-right: 10px">
                    <img src="~/images/default_image-01.png" alt="">
                    <span class="admin_name">Admin</span>
                </div>
            </div>
        </nav>

        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Total Projects</div>
                        <div class="number">@ViewBag.Projects</div>
                    </div>
                    <div style="height: 100%">
                        <i class='bx bx-file icon project'></i>
                    </div>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Payout Pending</div>
                        <div class="number">@ViewBag.Pending</div>
                    </div>
                    <i class='bx bx-log-out-circle icon pending'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Total No. of Users</div>
                        <div class="number">@ViewBag.TotalNoOfUsers</div>
                    </div>
                    <i class='bx bx-user icon users'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Revenue</div>
                        <div class="number">@ViewBag.Revenue</div>
                    </div>
                    <i class='bx bx-wallet-alt icon'></i>
                </div>
            </div>

            <div class="overview-boxes">
                
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Ongoing Projects</div>
                        <div class="number">@ViewBag.Ongoing</div>
                    </div>
                    <i class="fa fa-spinner icon wallet" style="font-size: 25px;" aria-hidden="true"></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Completed Projects</div>
                        <div class="number">@ViewBag.Completed</div>
                    </div>
                    <i class="fa fa-list icon completed" style="font-size: 25px;" aria-hidden="true"></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Currently Bidding</div>
                        <div class="number">@ViewBag.Bidding</div>
                    </div>
                    <i class='bx bx-user icon freelancers'></i>
                </div>
                <div class="box" style="background-color: transparent; box-shadow: none">
                    <div class="right-side">
                       
                    </div>
                </div>
            </div>

            <div class="sales-boxes">
                <div class="recent-sales box">
                    <h2 style="font-weight: 600; margin-bottom: 20px" class="title">Recent Transactions</h2>
                    <div class="sales-details">
                        <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        Payemnt Id
                                    </th>
                                    <th scope="col">
                                        Payment Date
                                    </th>
                                    <th scope="col">
                                        Payment Amount
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody style="width: 100%; text-align: center;">
                                @foreach (var item in Model.Payment)
                                {
                                    <tr>
                                        <td>
                                            @item.PaymentId
                                        </td>
                                        <td>
                                            @String.Format("{0:m}", item.PaymentDate)
                                        </td>
                                        <td>
                                            @item.BidAmount
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                    <div class="button">
                        <a href="#">See All</a>
                    </div>
                </div>
                <div class="top-sales box">
                    <div class="title" style="margin-bottom: 20px">Top Freelancers</div>
                    <ul class="top-sales-details">
                        @foreach(var item in Model.Freelancers) {
                            <li>
                                <a href="#">
                                    <img src="~/uploads/@item.ProfileImageName" alt="">
                                    <span class="product">@item.FreelancerName</span>
                                </a>
                                <span class="price"></span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
    </script>

</body>

</html>